body {
    background-image: url(../ideas_folder/worms.jpg);
    background-repeat: repeat;
    background-size: 100% auto;

}

#title {
    /* color: white; */
    font-family: 'Eater', cursive;
    font-size: 64px;
    margin: 10px;

}

#header {
    background-image: url(../ideas_folder/spiral.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    border:solid blue 3px;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;

}

.gif{
    margin: 10px;
    float: left;

}